<h1 class="text-center"> Movie Index Page </h1>
<h3 class="text-center">All Movies</h3>
<% if !user_signed_in? %>
  <div class="w-75 p-2 mb-2 mx-auto" style="background-color: #eee;">
    <h1 class="text-center">Your Favourite Movies Reviewed</h1>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg"%></p>
  </div>
<% end %>
<div class="container-fluid my-4">
     <div class="row">
      <div class="col-md-6">
      <%= form_tag(movies_path, method: :get) do %>
        <div class="">
          <%= select_tag :category, options_for_select(["All", "Action", "Comedy", "Drama", "Science Fiction", "History", "Documentory"]) %>
          <%= submit_tag 'Filter' %>
        </div>
      <% end %>
      </div>
    </div>
</div>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3 mx-auto">
      <div class="thumbnail">
      <div>
      <%= image_tag(movie.thumbnail.variant(resize_to_limit: [400, 200])) if movie.thumbnail.attached? %>
      </div>
      <div>
      <%= video_tag(url_for(movie.clip), controls: true, style:"width:200px; height:150") if movie.clip.attached? %>
      </div>
      </div>
    </div>
  <% end %>
</div>


