<div class="d-flex container justify-content-end">
   <%= link_to "Admin Panel", rails_admin_path, class:"text-white fs-5" if admin? %>
</div>
<% if user_signed_in? %>
<div class="container d-flex container justify-content-end ">
      <%= form_tag(movies_path, class: "fs-5, text-white", id: "filter", method: :get) do %>
        <%= label_tag "Select Category" %>
        <div class="mt-2 mb-4">
          <%= select_tag :category, options_for_select(["Select Filter", "Action", "Comedy", "Drama", "Science Fiction", "History", "Documentory", "All"]), onchange: "$('#filter').submit();" %>
        </div>
      <% end %>
</div>
<% end %>
<%= will_paginate(@movies) %>


