<h1> Movie Index Page </h1>
<h1>All Movies</h1>
<table class="">
<tbody class="t-grid">
<% @movies.each do |movie| %>
<tr class="mb-2 d-flex flex-column">
<td>Title: <%= movie.title %></td>
<td>Description: <%= movie.description %></td>
<td>Movie Length: <%= movie.movie_length %></td>
<td>Director: <%= movie.director %></td>
<td>Rating: <%= movie.ratings %></td>
<td>Category: <%= movie.category %></td>
<td><%= link_to 'Show', movie %></td>
<td><%= link_to 'Edit', edit_movie_path(movie) %></td>
<td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'New Movie', new_movie_path %>

