<div class="home-cover container-fluid">
<div class="row">
   <div class="col-md-8">
   <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="position-relative carousel-item active">
       <div class="thumb-holder position-relative">
          <%= image_tag(@movies[0].thumbnail, class: "thumbnail", style:"width:100%; height:590px") if @movies[0].thumbnail.attached? %>
       </div>
       <div class="clip-box position-absolute">
         <%= video_tag(url_for(@movies[0].clip), controls: true, style:"width:600px; height:120px") if @movies[0].clip.attached? %>
        </div>
        <div class="thumb-small position-absolute">
           <%= image_tag(@movies[0].thumbnail) if @movies[0].thumbnail.attached? %>
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000" class="bi bi-bookmark-plus-fill m-0 position-absolute" viewBox="0 0 16 16">
             <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
           </svg>
        </div>
    </div>
    <div class="position-relative carousel-item">
       <div>
          <%= image_tag(@movies[1].thumbnail,  style:"width:100%; height:590px") if @movies[1].thumbnail.attached? %>
       </div>
       <div class="clip-box position-absolute">
         <%= video_tag(url_for(@movies[1].clip), controls: true, style:"width:600px; height:120px") if @movies[1].clip.attached? %>
        </div>
        <div class="thumb-small position-absolute">
        <%= image_tag(@movies[1].thumbnail) if @movies[1].thumbnail.attached? %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000" class="bi bi-bookmark-plus-fill text-white position-absolute m-0" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
        </svg>
     </div>
    </div>
    <div class="position-relative carousel-item">
       <div>
          <%= image_tag(@movies[2].thumbnail,  style:"width:100%; height:590px") if @movies[2].thumbnail.attached? %>
       </div>
       <div class="clip-box position-absolute">
         <%= video_tag(url_for(@movies[2].clip), controls: true, style:"width:600px; height:120px") if @movies[2].clip.attached? %>
        </div>
        <div class="thumb-small position-absolute">
        <%= image_tag(@movies[2].thumbnail) if @movies[2].thumbnail.attached? %>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#000" class="bi bi-bookmark-plus-fill text-white position-absolute m-0" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm6.5-11a.5.5 0 0 0-1 0V6H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V7H10a.5.5 0 0 0 0-1H8.5V4.5z"/>
        </svg>
     </div>
    </div>
  </div>
  <button class="position-relative carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="position-absolute carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="position-relative carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="position-absolute carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="col-md-4">
<div class="text-left next-box">Up next</div>
<div class="side-slider">
   <div class="d-flex mb-4 position-relative">
      <div class="">
      <%= image_tag(@movies[1].thumbnail, style:"width:100px; height:150px") if @movies[1].thumbnail.attached? %>
      </div>
      <div class="position-absolute side-video">
      <%= video_tag(url_for(@movies[1].clip), controls: true, style:"width:250px; height:80px") if @movies[1].clip.attached? %>
      </div>
   </div>
   <div class="d-flex mb-4 position-relative">
      <div class=" ">
      <%= image_tag(@movies[2].thumbnail, style:"width:100px; height:150px") if @movies[2].thumbnail.attached? %>
      </div>
      <div class="position-absolute side-video">
      <%= video_tag(url_for(@movies[2].clip), controls: true, style:"width:250px; height:80px") if @movies[2].clip.attached? %>
      </div>
   </div>
   <div class="d-flex mb-4 position-relative">
      <div class="">
      <%= image_tag(@movies[3].thumbnail, style:"width:100px; height:150px") if @movies[3].thumbnail.attached? %>
      </div>
      <div class="position-absolute side-video">
      <%= video_tag(url_for(@movies[3].clip), controls: true, style:"width:250px; height:80px") if @movies[3].clip.attached? %>
      </div>
   </div>
</div>
</div>
</div>

<section class="featured-box">
<% @movies.each do |movie| %>
  <div class="">
    <div>
    <%= image_tag(movie.thumbnail.variant(resize_to_limit: [400, 200])) if movie.thumbnail.attached? %>
    </div>
    <div>
    <%= video_tag(url_for(movie.clip), controls: true, style:"width:200px; height:150") if movie.clip.attached? %>
    </div>
  </div>
<% end %>
</section>
</div>

<%= will_paginate(@movies) %>


