<h1 class="text-center"> Movie Show Page </h1>
<div class="container-fluid">
   <div class="container">
     <div class="row">
      <div class="col-md-4">
      <div>
      <%= image_tag(@movie.thumbnail.variant(resize_to_limit: [400, 200])) %>
      </div>
      <div>
      <%= video_tag(url_for(@movie.clip), controls: true, style:"width:200px; height:150") %>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <td><strong>Title:</strong></td>
              <td><%= @movie.title %></td>
            </tr>
            <tr>
              <td><strong>Description:</strong></td>
              <td><%= @movie.description %></td>
            </tr>
            <tr>
              <td><strong>Movie length:</strong></td>
              <td><%= @movie.movie_length %></td>
            </tr>
            <tr>
              <td><strong>Director:</strong></td>
              <td><%= @movie.director %></td>
            </tr>
            <tr>
              <td><strong>Rating:</strong></td>
              <td><%= @movie.ratings %></td>
            </tr>
            <tr>
              <td><strong>Category:</strong></td>
              <td><%= @movie.category %></td>
            </tr>
           </tbody>
          </table>
          <%= link_to "Write A Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
       <h1 class="review_title"><%= @movie.title %></h1>
       <p><%= @movie.description %></p>
       <% if @reviews.blank? %>
         <h3>No reviews just yet, would you like to add the first?</h3>
         <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
       <% else %>
       <% @reviews.each do |review| %>
        <% review.rating.to_i.times do %>
           <span> 
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
               <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
              </svg>
           </span>
        <% end %>
        <% review.blank_stars.to_i.times do %>
           <span>
           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
              <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
           </svg>
           </span>
        <% end %>
        <p><%= review.comment %></p>
        <% end %>
        <h1>Average Rating</h1>
        <p>Based on <%= @reviews.length %> reviews rounded to the nearest integer is <%= @avg_review %></p>
          <% @avg_review.to_i.times do %>
             <span> 
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                 <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                </svg>
             </span>
          <% end %>
          <% (10 - @avg_review).to_i.times do %>
             <span>
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
             </svg>
             </span>
          <% end %>
       <% end %>
     </div>
    </div>
  </div>
  
  <%= link_to 'Edit', edit_movie_path(@movie) %> | <%= link_to 'Back', movies_path %>

